---
layout: index
title: ECA Standardi
---
<header class="intro intro-index">
<div class="intro-body">
<div class="container">
<div class="row">

<div class="col-md-8 col-md-offset-1">
<h1 class="brand-heading">{{ page.title }}</h1>
<p class="intro-text">
EduCloud Alliance (ECA) standardin myötä digitaalisia oppimisen työvälineitä on helpompi tuottaa, hankkia ja ottaa käyttöön. Työvälineet voivat olla esimerkiksi materiaaleja, pelejä, sovelluksia tai palveluita.
Opetuksessa käytettäviä ohjelmia ja sovelluksia on ECA-standardin ansiosta jatkossa helppo ottaa käyttöön eri verkko-oppimisalustoilla.
</p>

</div>

</div>
</div>
</div>
</header>

<section class="container content-section">
<div class="row">
<div class="col-lg-8">

<p>
Educloud allianssi (ECA) on Suomen opetus- ja kulttuuriministeriön (OKM) alullepanema hanke avoimen koulutuspilvipalvelun standardin toteuttamiseksi. Allianssi rakentaa valtiontasoista, kansainväliseksi tähtäävää oppimispalveluiden käyttäjät, ostajat, kehittäjät ja ja palveluntarjoajat yhdistävää ekosysteemiä määrittelemällä avoimen standardin oppimisympäristöille, materiaalille ja toiminnallisuudelle mahdollistamaan koulutuksen pilvipalvelutuotteiden ja sisältöjen avoin tarjonta, myyminen, löytäminen, hankkiminen, vertailu ja käyttäminen.
</p>

<p>
Avoimen standardin tarkoituksena on nopeuttaa DigiEdu palveluiden käyttöönottoa ja innovaatiota mahdollistamalla yhteensopivat palvelut ja luomalla kansalliset edellytykset (kuten oppijan sähköinen identiteeti ja kertakirjautuminen) tuotekehittämiselle ja tuotteiden käytölle.
</p>

<p>
Toimintaperiaattena on että syntyvät ratkaisut ovat kaikille (kaupalliset ja yleishyödylliset tahot) yhtäläisiä ja avoimia eikä ECA sinänsä rajoita näiden toimintaa eikä myöskään rajoita loppukäyttäjien itsenäistä, vapaata valintaa ostopäätösten ja hankintojen tekemiseen. ECA:n tavoitteena on varmistaa, että se ei uhkaa liiketoiminnan vapautta tai opetusaineistojen jakelua.
</p>

</div>

<div class="col-lg-4">
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/educloudallianc" data-widget-id="441570145194897409">Twitterin aikajana</a>
</div>

</div>
</section>

<section id="goals" class="container content-section">
<div class="row">

<div class="col-lg-12">
<h2>Peruskirjassa määritellyt toiminnan tavoitteet</h2>
</div>
<div class="col-lg-4">
<p>
<a href="https://drive.google.com/open?id=0B506WHY4cwV1WFFvMTljdW14dE05ZmN5dUtoMVUtbl94UGNr">ECA peruskirja</a> määrittelee ECAn rakenteen ja toiminnan tavoitteet.
</p>
<p>
<a href="https://drive.google.com/open?id=0B506WHY4cwV1Q0lJSlJtejlBeDdXZUdiMU9Oa1Jmd3NSck1V">ECA Liittymissopimuksella</a> voi kuka tahansa liittyä allianssin jäseneksi. Eri jäsenyystyypit on määritelty tarkemmin peruskirjassa.
<a href="https://drive.google.com/open?id=0B506WHY4cwV1STQ4dnphdWxYZ1hmZVFaSjVtTmgwQjB6U0h3">ECA:n jäsenmaksut</a>.
</p>
<p>
Koska allianssiin kuuluu kattava joukko alan toimijoita, <a href="https://drive.google.com/open?id=0B506WHY4cwV1VDczekNCRkxFMWtIbG1YWGdhRmVFV1ROM1A0">Kilpailuoikeudellinen ohjeistus</a> kertoo rajoitteista, joita allianssin keskustelu noudattaa.
</p>

</div>
<div class="col-lg-8">


<ul>
<li>Edistää opetussektorin digitalisointia ja kehitystä</li>
<li>Edistää opetussektorin yhteistyötä avoimuuden hengessä</li>
<li>Luoda edellytyksiä ja edistää koulutusvientiä; toimia tarvittaessa ovien avaajana kansainvälistämishankkeissa</li>
<li>Edesauttaa kansallisen keskitetyn käyttäjänhallinnan ja tunnistuksen aikaansaamista</li>
<li>Kehittää ja ohjata kansallista palveluarkkitehtuuria tukemaan standardoituja opetussektorin palveluita</li>
<li>Määritellä ECAn standardin sisältämien ja sitä täydentävien komponenttien arkkitehtuuri mukaan lukien esimerkkitoteutuksen arkkitehtuuri</li>
<li>Kehittää esimerkkitoteutus standardin validoimiseen, demokäyttöön ja portaaliksi varsinaisiin kauppapaikkoihin ja materiaaleihin</li>
<li>Tuoda ECAn standardin määrittely sille tasolle että kauppapaikan kehittäjä pystyy tekemään standardin mukaisen kauppapaikan ja sisällöntuottajan sisältö toimii kaikissa näissä kauppapaikoissa</li>
<li>Edistää näin osaltaan myös kaupallista oppimateriaalien ja koulutuspalveluiden tuottamista, kansainvälistämistä ja liiketoimintaa.</li>
</ul>

</div>
</div>
</section>

<section id="foo" class="container content-section text-center">
<div class="row">
<div class="col-lg-4">
<h2>Allianssi</h2>
<p>
EduCloud Allianssin jäseniksi lasketaan ne tahot, jotka ovat allekirjoittaneet liittymissopimuksen ja suorittaneet jäsenmaksun.
</p>
<p>
Lue lisää <a href="{{ site.baseurl }}/allianssi">jäsenyydestä</a>.
</p>
</div>

<div class="col-lg-4">
<h2>Standardi</h2>
<p>

</p>
<p>
Tutustu <a href="{{ site.baseurl }}/standardi">standardiin</a>.
</p>
</div>

<div class="col-lg-4">
<h2>Beta</h2>
<p>
Tärkeänä osana standardin määrittelyä on referenssitoteutus ja tätä vastaava käynnissä oleva ympäristö. Ympäristössä käyttäjät ja kehittäjät voivat todeta miten eri rajapinnat toimivat ja mitä palveluilta oikeasti odotetaan.
</p>

<p>
Tutustu <a href="{{ site.baseurl }}/beta">Beta-ympäristöön</a>. <img src="https://travis-ci.org/educloudalliance/eca-test.svg?branch=master">
</p>
</div>
</div>
</section>

<section id="foo" class="container content-section text-center">
<div class="row">
<div class="col-lg-12">
<h2>Työryhmät</h2>
<p>
Eri työryhmät kokoontuvat joka tiistai klo 13:00-14:00 kertomaan mitä on tapahtunut, mitä tapahtuu seuraavaksi ja mitä ongelmia on tullut vastaan. Tilaisuus on avoin kaikille ja tilaisuudet tallennetaan kaikkien saataville.
</p>

<p>
<a href="https://connect.funet.fi/educloud/" class="btn btn-default btn-lg"><i class="fa fa-phone fa-fw"></i> <span class="network-name">Viikko-palaveri</span></a>

<a href="{{ site.baseurl }}/tyoryhmat" class="btn btn-default btn-lg"><i class="fa fa-microphone fa-fw"></i> <span class="network-name">Tallenteet</span></a>
</p>

</div>
</div>
</section>

<section id="news" class="container content-section text-center">
<div class="row">
<div class="col-lg-12">
<h2><a href="{{ site.baseurl }}/uutiset">Uutiset</a></h2>
</div>
</div>
<div class="row">
{% for post in site.categories.uutiset %}
<div class="col-lg-3">
<h3><a href="{{ post.url }}">{{ post.date|date:"%d.%m.%Y"}}<br />{{ post.title }}</a></h3>
</div>
{% endfor %}
</div>
</section>

<section id="news" class="container content-section text-center">
<div class="row">
<div class="col-lg-12">
<h2><a href="{{ site.baseurl }}/videot">Videot</a></h2>
</div>
</div>
<div class="row">
{% for post in site.categories.videot %}
<div class="col-lg-6">
<iframe width="580" height="300" src="{{ post.video_url }}" frameborder="0" allowfullscreen=""></iframe>
</div>
{% endfor %}
</div>
</section>

<section class="container content-section text-center">
<div class="row">
<div class="col-lg-12">
<h2><a href="{{ site.baseurl }}/tapahtumat">Tapahtumat</a></h2>
</div>
</div>
<div class="row">
{% for post in site.categories.tapahtumat %}
<div class="col-lg-3">
<h3><a href="{{ post.url }}">{{ post.date|date:"%d.%m.%Y"}}<br />{{ post.title }}</a></h3>
</div>
{% endfor %}
</div>
</section>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

