<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}

<section id="post" class="container content-section">
<div class="row">
<div class="col-lg-2 post-info">
<p>
Päivä: {{ page.date|date:"%Y-%m-%d" }}<br/>
Kategoria: <a href="{{ site.baseurl }}/{{ page.categories }}">{{ page.categories }}</a><br/>
</p>
<p>
{% for tag in page.tags %}
<span class="btn btn-default" disabled="disabled">{{ tag }}</span>
{% endfor %}
</p>
</ul>
</div>

<div class="col-lg-10">
{{ content }}
</div>

</div>
</section>

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
